<!DOCTYPE html>
<html>
<head>
    <title>Hacker Job Now</title>
    <link rel="icon" href="static/img/yinyang-icon.png">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="static/js/application.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
  <div class="jumbotron">
      <h1>Top Engineering Job Postings from Twitter - A RESTful Web Application by <a href='https://www.linkedin.com/in/joemiao-zeyu/' target='_blank'>Joe Miao</a></h1>
    <p>Real-time Tweets search results served by Flask server will appear below, asynchronously. Meanwhile, they are parsed and converted to structed data, and finally saved into a relational DB to support job search features.</p>
    <p>Stack: Twitter API(Rest&Streaming), Flask, SocketIO, SQLAlchmey, Jinja, Amazon EC2, Amazon RDS(MySQL)</p>
    <p>Check /api to view available APIs. In addition, you can search jobs in db, e.g. api/postings?job_title=data</p>
    <p>Github project page: <a href='https://github.com/miaozeyu/hackerjobnow' target='_blank'>here.</a></p>
  </div>
</div>
    
</div>

<div class="container" id="content">
    <div class="row">
        <p>Asynchronous page updates will appear here:</p>
        <h3>Job Postings:</h3>
        <div id="log">
        </div> <!-- /#log -->
    </div>
</div>


</body>
</html>
